nav {
background-color: #d3d3d3;
position: fixed;
width: 100%;
height: 50px;
padding-right: 25px;
text-align: right;
}


body { 
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: black;
 }

 nav ul {
 	display: inline-block;
 	list-style: none;
 }

nav li {
	display: inline-block;
	font-size: 125%;

}

main {
	padding-top: 90px;
}


a {
	text-decoration: none;

}

.greg {
	position: absolute;
	left: 10px;
	top: 18px;
}

.rightnav {
	margin-right: 5px;

}


.searchjobs, .midnavigation, .searchresults {
	padding-left: 80px;
}

.input {
	width: 400px;
	height: 30px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	vertical-align: top;

}

.magglass {
	height: 30px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	vertical-align: top;

}

.midnavigation {
	margin-top: 15px;
	margin-bottom: 50px;
	display: inline-block;
	/* font-size: 0; */

}

.arrows {
	padding: 5px 10px 5px 10px;
	border: 1px solid #d3d3d3;
	color: black;

}

.pages {
	padding: 5px 15px 5px 15px;
	border: 1px solid #d3d3d3;

}

.searchresults {
	list-style: none;
	padding-left: 80px;
	margin-top: 10px;
}

.dates, .location {
	color: grey;
}

.dates {
	margin-right: 10px;
}

.position {
	font-weight: bold;
}

.location {
	margin-left: 10px;
}